.card {
    border: 1px solid var(--card-border);
    /* Usar variable para el borde */
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.2s;
    background: var(--card-background);
    /* Usar variable para el fondo */
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cardContent {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.cardTitle {
    font-size: 1.2rem;
    margin: 0 0 0.25rem;
    /* (Opcional) Forzar un color oscuro si prefieres que no cambie */
    /* color: #111; */
}

.cardCategory {
    color: #666;
    font-size: 0.9rem;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.cardPrice {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0070f3;
}

.cardButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.cardButton:hover {
    background-color: #005bb5;
}

.cardButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}